body {
    background: #fafafa;
    font-family: 'Ruslan Display', cursive;
    color: #92CD00;
}
section {
  margin-top: 20px;
}


.tab-panels ul {
    margin: 0;
    padding: 0;
}
.tab-panels ul li {
    list-style-type: none;
    display: inline-block;
    background: #666;
    margin: 0;
    padding: 3px 10px;
    border-radius: 10px 10px 0 0;
    font-weight: 200;
    cursor: pointer;

}
.tab-panels ul li:hover {
    color: #fff;
    background: #000000;
}

.tab-panels ul li.active {
    color: yellow;
    background: #000000;
}

.tab-panels .panel {
    display:none;
    background: #000000;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

.tab-panels .panel.active {
    display:block;
}
